/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/*
	HIDE site_bar
*/

#site_bar {
	display: none;
}

html, body {
	margin: 0px;
}

body {
	background-color: #EFEFCD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #222;
}

footer {
	text-align: center;
	color: #D2D746;
	font-size: 0.8em;
}

h1 {
	margin-top: 0px;
	padding-top: 10px;
}

#faqs {
	list-style-type: none;
	padding: 0;
	margin: 0;

}


.faq_question {
	width: 980px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 1px 4px #dddddd;
	-moz-box-shadow: inset 0 1px 4px #dddddd;
	-webkit-box-shadow: inset 0 1px 4px #dddddd;
	margin-bottom: 20px;
	background: #F4F4F4;
}

.faq_question a{
	text-decoration: none;
	display: block;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
	background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	text-shadow: white 0 1px 0;
	border-bottom: 1px solid #EDEDED;
	padding: 5px 10px 3px 10px;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 140%;
	margin-bottom: 0.5em;
	color: #5E6469;

}

.faq_answer{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 980px;
	
}

.faq_answer li{
	padding: 3px 15px 15px 15px;
}

#logo a {
	text-decoration: none;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#body_content {
	background-color: #FFF;
	padding: 10px;
}

#front_image {
	margin: 10px 0 0 0;
	height: 500px;
}

#front_image img {
	width: 100%;
	height: 100%;
}

#front_image p {
	margin: 0px;
	padding: 0px;
}

#menu {
	background-image: url('../images/menu_bg.png');
	height: 48px;
	width: 1008px;
	margin-left: -4px;
}

#menu ul {
	padding: 15px 10px;
}