/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

/*
Supersize CSS
*/

#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }
	
#supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }
#supersized a.image-loading { background:#111 url(/images/progress.gif) no-repeat center center; width:100%; height:100%; }


/*
MAIN CSS
*/

html, body {
	margin: 0px;
}

body {
	background-color: #EFEFCD;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	color: #222;
}

#content_push_div {
	clear: both;
}

#page_container {
	position: relative;
	z-index: 1;
}

footer {
	text-align: center;
	color: #949832;
	font-size: 0.8em;
  text-shadow: 1px 1px 0px #fff;

}

header, #page, footer {
	width: 1040px;
	padding-left: 40px;
}

a {
	color: #447BD4;
}

h1 {
	margin-top: 0px;
	font-size: 2em;
	margin-bottom: 10px;
}

#logo {
	margin-top: -10px;
	padding-top: 0;
	color: inherit;
	font-size: 3.5em;
	font-weight: bold;
	font-family: inherit;
}

header a {
	text-decoration: none;
}

#body_content {
	padding: 50px 30px 30px 30px;  
}
#body_top, #body_bottom {
	display: none;
}

.ie6 #body_top, .ie7 #body_top, .ie8 #body_top {
	display: block!important;
	width: 1004px;
	height: 19px;
	background-image: url("/images/body_top.png");
  
}
.ie6 #body_middle, .ie7 #body_middle, .ie8 #body_middle {
	padding: 0px 2px;
	display: block!important;
	background-color: none;
		width: 1000px;
	background-image: url("/images/body_middle.png");
  
}
.ie6 #body_bottom, .ie7 #body_bottom, .ie8 #body_bottom {
	display: block!important;
	width: 1004px;
	height: 19px;
	background-image: url("/images/body_bottom.png");
  
}

#body_content {
	width: 940px;
	background-color: #FFF;
	padding: 50px 30px 30px 30px;
	-webkit-border-radius: 8px; 
  	-moz-border-radius: 8px; 
  	border-radius: 8px; 
  	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
  	-webkit-box-shadow: 0px 0px 1px #333; 
  	-moz-box-shadow: 0px 0px 1px #333; 
  	box-shadow: 0px 0px 1px #333;   
}

#front_image {
	margin: 10px 0 0 0;
	height: 500px;
}

#front_image img {
	width: 100%;
	height: 100%;
}

#front_image p {
	margin: 0px;
	padding: 0px;
}

#header_div {
	width: 1000px;
	height: 300px;
  -webkit-border-bottom-left-radius: 8px; 
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;  
  -moz-border-bottom-right-radius: 8px; 
  border-bottom-left-radius: 8px;       
  border-bottom-right-radius: 8px;       
  -moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
	
  -webkit-box-shadow: 0px 0px 1px #333; 
     -moz-box-shadow: 0px 0px 1px #333; 
          box-shadow: 0px 0px 1px #333; 

}

#header_title_div {
	margin-top: -150px;
	padding-left: 20px;
	color: #FFF;
  	text-shadow: 1px 1px 1px #000; 
  	filter: Shadow(Color=#000000, 	
		Direction=135, 
		Strength=2);
	height: 105px;
}

#header_subheader {
	font-size: 2.6em;
	height: 45px;
}

#left_sidebar {
	width: 200px;
	display: inline-block;
	float: left;
	padding-top: 34px;
	padding-left: 20px;
}

#left_sidebar ul {
	list-style-image: url('/images/list_style_gray.png');
}

#left_sidebar .selected {
	list-style-image: url('/images/list_style_selected.png') !important;
}

#left_sidebar li {
	float: none;
	padding: 10px 0;
	margin-left: 5px;
	list-style: inherit;
	border-bottom: 1px dotted #666;
	width: 150px;
}

#left_sidebar li a {
	text-decoration: none;
	color: #585D47;
	font-size: 0.9em;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

#left_sidebar li a:hover {
	list-style-image: url('/images/list_style_selected.png') !important;
	font-weight: bold;
}

#menu {
	height: 40px;
	width: 1000px;
	margin-top: 5px;
  	background-image: url("/images/menu_bg.png");
	background-clip: padding-box;
	background-color: none;
	background-repeat: no-repeat;
}

.ie6 #menu, .ie7 #menu, .ie8 #menu {
	background-image: url("/images/menu_bg_ie.png") !important;
}

#menu ul {
	padding: 10px 15px;
	width: 970px;
	text-align: center;
}

#menu ul a {
	text-decoration: none;
	color: #2E3226;
	font-size: 1.1em;
  	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

#menu ul a:hover {
	color: #246544;
}

#menu .selected a {
	color: #246544;
	font-weight: normal;
}

#menu ul li {
	margin: 0 10px;
	display: inline-block;
	float: none;
}

#page {
	margin-top: 20px;
}

#right_contentbar {
	line-height: 180%;
}

.two_columns_right {
	padding-left: 20px;
	margin-left: 200px;
	border-left: 2px solid #C3CA3E;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table caption{
	font-size: 1.4em;
	padding: 5px;
}

table td{
	border: 1px solid #C3CA3E;
	padding: 5px;
}
