<% 
if !@page.images.first.nil? then
	image = @page.images.first.url.html_safe
elsif !@page.parent.nil? && !@page.parent.images.first.nil?
	image = @page.parent.images.first.url.html_safe
else
	image = ""
end %>

<div id="header_div" style="background-image: url('<%= image %>');" >
</div>
<div id='header_title_div'>
	
		<div id='header_subheader'><%= "Velkommen til" if @page.attributes["position"] == 0 %></div>
<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
</div>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
