<div id="body_top"></div>
<div id="body_middle">
<section id="body_content">
	

	
	<% unless @page.root.children.empty? %>
		<section id="left_sidebar">
			<%= render(:partial => "/shared/submenu", :locals => {
		             	:dom_id => 'submenu',
		             	:css => 'menu'
			           	}) 
			%>
		</section>
		<% end %>
		<section id="right_contentbar" <%= 'class=two_columns_right' unless @page.root.children.empty? %>>
		<%= @page.content_for(:body).html_safe if @page.content_for(:body) %>
		</section>
		<div id="content_push_div"></div>
</section>
</div>
<div id="body_bottom"></div>
